ShadersCookbook/Library/
ShadersCookbook/Temp/
ShadersCookbook/.vs/ShadersCookbook/v15/sqlite3/storage.ide-wal
ShadersCookbook/.vs/ShadersCookbook/v15/sqlite3/storage.ide-shm
ShadersCookbook/.vs/ShadersCookbook/v15/sqlite3/db.lock
ShadersCookbook/.vs/ShadersCookbook/v15/Server/sqlite3/storage.ide-wal
ShadersCookbook/.vs/ShadersCookbook/v15/Server/sqlite3/storage.ide-shm
ShadersCookbook/.vs/ShadersCookbook/v15/Server/sqlite3/storage.ide
ShadersCookbook/.vs/ShadersCookbook/v15/Server/sqlite3/db.lock
ShadersCookbook/.vs/ShadersCookbook/v15/Browse.VC.opendb
ShadersCookbook/.vs/ShadersCookbook/v15/Browse.VC.db
